doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title
    | Welcome to fiware project
script(src='/socket.io/socket.io.js')
div(id = 'table')
script.
  //preparing websocket
  var socket = io();
  //data from fiwareCB -> nodejs server
  var data = '#{data}'.split('&quot;').join('"');
  var parsed = JSON.parse(data)
  var table = document.getElementById('table')
  //prepare for innerHtml
  const title = '<table border="3"><tr>+<td>id</td><td>device type</td><td>agent</td><td>group</td><td>status</td><td>control</td></tr>'

  var content = title.toString()
  //buliding innerHtml string with data
  for(var i = 0; i<parsed.length; i++){
      content = content.concat('<tr>')
      content = content.concat('<td>' + parsed[i].id + '</td>')
      content = content.concat('<td>' + parsed[i].deviceType.value + '</td>')
      content = content.concat('<td>' + parsed[i].agent.value + '</td>')
      content = content.concat('<td>' + parsed[i].group.value + '</td>')
      content = content.concat('<td>' + parsed[i].state.value + '</td>')

      var selectString = "<select id = 'select"+(1+i)+"'>"+
      "<option value ='default'>no change</option>"

      for(var j=0; j<parsed[i].work.value.length; j++){
        selectString = selectString.concat("<option value ='"+parsed[i].work.value[j]+"'>"+ parsed[i].work.value[j] +"</option>")
      }
      selectString = selectString.concat("</select>");
      content = content.concat('<td>' + selectString + '</td>');
      content = content.concat('</tr>');
    }



  
  content = content.concat('</table>')
  table.innerHTML = content

script.
  for(var i = 0; i < parsed.length; i++){
    const index = i+1
    const selectedBox = document.getElementById('select'+index);
    //adding event handler for each selectbox
    selectedBox.addEventListener("change" ,function(){
      var orderSend = {}
      orderSend.type = "string"
      orderSend.value = selectedBox.options[selectedBox.selectedIndex].value
      var dataSend = {'id' : (parsed[index-1])["id"],'type' : 'order' ,'order' : orderSend, 'agent' : (parsed[index-1])["agent"], 'group' : (parsed[index-1])["group"]}
      socket.emit('change',dataSend);
      socket.on('done',function(data){
        window.location.reload();
      })
    });
  }

