doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title
        | Welcome to fiware project
    script(src="https://code.jquery.com/jquery-3.5.1.min.js")
    script(type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js")
    link(rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css")
    

table(id="tableField")

script.
    var parsed = JSON.parse('#{data}'.split('&quot;').join('"'));
    var common = ['id','deviceType','state']
    var column = buildColumn(common)
    var columnDefs = [{visible: true, targets: "_all"}].concat(column.title)
    console.log(column)
    console.log(columnDefs)
    $(document).ready(function () {
        mainTable = $('#tableField').dataTable({
            data : parsed,
            columns :column.column,
            columnDefs : columnDefs,
            buttons:['test1','test2']});
        
    })
    
    function buildColumn(data){
        var toReturn = {
            column : [],
            title : []
        }
        
        data.forEach((ele) =>{
            
            toReturn.column.push({data: ele})
            toReturn.title.push({title: ele, targets: data.findIndex((ele2) => {return ele2 == ele} )})
            
        })
        console.log(toReturn)
        return toReturn
    }

    function childFormat ( d ) {
    // `d` is the original data object for the row
    return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
        '<tr>'+
            '<td>Full name:</td>'+
            '<td>'+'test'+'</td>'+
        '</tr>'+
        '<tr>'+
            '<td>Extension number:</td>'+
            '<td>'+'test2'+'</td>'+
        '</tr>'+
        '<tr>'+
            '<td>Extra info:</td>'+
            '<td>And any further details here (images etc)...</td>'+
        '</tr>'+
    '</table>';
    }
    $('#tableField tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = table.row( tr );
 
        if ( row.child.isShown() ) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
        }
        else {
            // Open this row
            row.child( format(row.data()) ).show();
            tr.addClass('shown');
        }
    } );

